@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --dark-blue: #001A38;
  --mid-dark-blue: #00224E;
  --blue: #003367;
  --black-blue: #171D20;
  --nice-gray: #1E2529;
  --gray: #2F3133;
  --white: #E4E4E4; 
}

#project {
  background-color: #eee;
  min-width: 360px;
  height: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

#proj-bg-design {
  width: 30%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  position: absolute;
  top: 0;
  right: 10%;
  z-index: 998;
}

#proj-bg-design div {
  background-color: #e0e0e057;
  width: 15%;
  height: 100%;
}

#project-title {
  color: var(--gray);
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin: 100px 0;
  z-index: 999;
}

#project-title h2 {
  font-size: 40px;
  font-weight: 900;
}

#project-title p {
  font-size: 16px;
  font-weight: 400;
}


#proj-container {
  width: 90%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  margin: auto;
  z-index: 999;
}

.project-div-indv {
  width: 90%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 50px;
}

.ld-link {
  color: var(--black-blue);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: all 0.1s linear;
}

.ld-link span {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ld-link span i {
  font-size: 10px;
}

.project-img {
  width: 100%;
}

.text-proj-link {
  color: var(--black-blue);
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  margin: 10px 3px 3px;
  text-align: center;
}

.ld-link:hover {
  transform: scale(1.01);
  opacity: 0.9;
}

.p-lang{
  color: var(--black-blue);
  font-size: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  opacity: 0.8;
}

/* TABLET SIZE */
@media (min-width: 601px) and (max-width: 1279px) {

  #proj-bg-design {
    width: 30%;
    right: 5%;
  }
  
  #proj-bg-design div {
    width: 15%;
  }

  .project-div-indv {
    width: 80%;
  }

}

/* DESKTOIP SCREEN */
@media (min-width: 1280px) and (max-width: 1920px) {

  #proj-bg-design {
    width: 15%;
  }
  
  #proj-bg-design div {
    width: 15%;
  }

  .project-div-indv {
    width: 40%;
  }
}

/*  4K   */
@media (min-width: 1921px) {
  #project {
    min-width: 1921px;
    max-width: 1921px;
  }

  #proj-container {
    width: 100%;
  }

  #proj-bg-design {
    width: 10%;
    right: 15%;
  }
  
  #proj-bg-design div {
    width: 15%;
  }

  .project-div-indv {
    width: 40%;
  }
}